@import "../../node_modules/datatables.net-dt/css/dataTables.dataTables.css";
@import "../../node_modules/toastify-js/src/toastify.css";
@import url('./mobileTable.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    direction: rtl;
}
body *{
    transition: all 0.15s ease;
}

#gray-box:hover .book-stack img{
    margin-right: 0.5rem;
}
#gray-box .book-stack img{
    margin-right: -1rem;
}
.return-btn:hover img{
    filter: invert(1);
}